<div class="ui borderless main menu">
    <div class="ui container">
      <div class="header item">
        <!-- <img class="logo" src="assets/images/logo.png"> -->
        <a href="/">ADN Gauge</a>
      </div>
      <div class="right menu">
        <a href="#" class="ui right floated dropdown item" tabindex="0">
          System Tools <i class="dropdown icon"></i>
          <div class="menu" tabindex="-1">
            <div class="item" onclick="location.href='stats';">Stats</div>
            <div class="item" onclick="location.href='live-gauge';">Live Gauge</div>
          </div>
        </a>
        <a href="/installation-sites" class="item">Installation sites</a>
        <a href="#" class="ui right floated dropdown item" tabindex="0">
          About <i class="dropdown icon"></i>
          <div class="menu" tabindex="-1">
            <div class="item" onclick="location.href='family-of-companies';">Family of Companies</div>
            <div class="item" onclick="location.href='adon-renewables';">Adon Renewables</div>
            {% if user.is_authenticated and user.role == "role1" %}
            <div class="item">Role1 Menu</div>
            {% endif %}
          </div>
        </a>
        <a href="#" class="item">Contact us</a>
        {% if user.is_authenticated %}
            <button type="button" name="button"><a href="{% url 'logout' %}" class="item">Logout</a></button>
          {% else %}
            <button type="button" name="button"><a href="{% url 'login' %}" class="item">Login</a></button>
          {% endif %}
      </div>
    </div>
</div>
